@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #fcfcf6;
}

.wrapper {
  overflow-x: hidden;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  z-index: 5;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-bottom: 2px solid #000;
  background-color: #fcfcf6;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: 10;
  background-color: #000;
  color: #fcfcf6;
  overflow-x: hidden;
  transition: all 0.5s linear;
}
@media screen and (min-width: 1024px) {
  .nav {
    position: unset;
    width: 100%;
    background: #fcfcf6;
    color: #000;
    overflow-x: visible;
    padding: 0;
  }
  .nav .column__box__list {
    flex-direction: row;
    align-self: center;
    margin: 0;
    padding: 0;
  }
  .nav .column__box__list li {
    padding-right: 0;
  }
  .nav .column__box__list li::before {
    display: none;
  }
}

.active {
  width: 250px;
}

.hidden {
  display: none;
}
@media screen and (min-width: 768px) {
  .hidden {
    display: block;
  }
}

.icon {
  cursor: pointer;
  transform: rotate(0);
  transition: transform 0.5s linear;
}

.rotate {
  transform: rotate(45deg);
}

.main {
  min-height: 100vh;
  padding-top: 80px;
}

.column, .column__box, .column__box__list, .column--inner {
  padding: 1em;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .column, .column__box, .column__box__list, .column--inner {
    padding: 16px 40px;
  }
}
.column--inner {
  margin: 10px 0;
  padding: 0;
}
.column--inner .close {
  padding: 0.55em;
}
.column--dark {
  background: #000;
  color: #fcfcf6;
}

.nav.column--inner {
  margin: 0;
}

.column__box, .column__box__list {
  border: 2px solid #000;
}
@media screen and (min-width: 768px) {
  .column__box, .column__box__list {
    margin: 0 5px;
  }
}
@media screen and (min-width: 1440px) {
  .column__box, .column__box__list {
    padding: 48px 16px;
  }
}

.column__box__list {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .column__box__list {
    height: auto;
    margin-top: 16px;
  }
}

.list__item {
  position: relative;
  padding: 0.3em 1em;
  font-size: 1.1em;
}
.list__item::before {
  content: "›";
  position: absolute;
  left: 0;
  font-weight: bold;
}
@media screen and (min-width: 375px) {
  .list__item {
    font-size: 1.2em;
  }
}

.list__item--basic {
  margin-top: 0.5em;
  font-size: 1.1em;
  line-height: 1.5em;
}
.list__item--basic span {
  color: #5959fa;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
}
@media screen and (min-width: 375px) {
  .list__item--basic {
    font-size: 1.3em;
  }
  .list__item--basic .span {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 1024px) {
  .column__box__list.column__par--main .list__item--basic {
    margin-top: 80px;
  }
}

.borderless {
  border: none;
  margin-top: 0;
}

.column__box__icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  align-self: center;
  display: inherit;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #5959fa;
  color: #fcfcf6;
}
@media screen and (min-width: 768px) {
  .column__box__icon {
    height: 100px;
    width: 100px;
  }
  .column__box__icon i {
    font-size: 2em;
  }
}
@media screen and (min-width: 1024px) {
  .column__box__icon {
    width: 60px;
    height: 60px;
  }
  .column__box__icon i {
    font-size: 1em;
  }
}

.column__el--center {
  align-self: center;
}

.column__title--main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 2.5em;
  color: #5959fa;
}
@media screen and (min-width: 1024px) {
  .column__title--main {
    font-size: 3.3em;
  }
}
.column__title--medium {
  font-size: 1.5em;
  margin: 0.5em 0;
  color: #5959fa;
}
@media screen and (min-width: 1024px) {
  .column__title--medium {
    font-size: 2.3em;
  }
}
.column__title--small {
  text-transform: uppercase;
  margin: 0.5em 0;
}
@media screen and (min-width: 1024px) {
  .column__title--small {
    font-size: 1em;
  }
}

.column__par--main {
  line-height: 1.3em;
  font-size: 1.25em;
  padding: 20px 0;
}
@media screen and (min-width: 1024px) {
  .column__par--main {
    font-size: 1.4em;
  }
}
.column__par--normal {
  font-size: 1.1em;
  line-height: 1.3em;
  margin: 5px 0;
  padding: 0 0.2em;
}
@media screen and (min-width: 1024px) {
  .column__par--normal {
    font-size: 1.3em;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 5px;
  text-align: center;
}
.grid .column__box, .grid .column__box__list {
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 425px) {
  .grid .column__box, .grid .column__box__list {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .grid .column__box, .grid .column__box__list {
    width: 145px;
    height: auto;
  }
}
@media screen and (min-width: 1440px) {
  .grid .column__box, .grid .column__box__list {
    width: 200px;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 0;
  }
}
@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
  }
}

.question-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3em 0;
}

.question-answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s linear;
}
.question-answer--open {
  padding: 0.2em;
}

.column--inner__formEl {
  padding: 1em;
  margin-top: 0.3em;
  margin-bottom: 1em;
  border: none;
  background-color: #f4f4f4;
}
.column--inner__formEl:focus {
  outline: none;
}

.btn {
  padding: 1em 0.5em;
  background-color: #5959fa;
  color: #fcfcf6;
  border: none;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}

.img {
  object-fit: fill;
}

.img--round {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  border-radius: 50%;
}

.img--rectangle {
  width: 300px;
  height: 400px;
  object-fit: cover;
}
@media screen and (min-width: 1440px) {
  .img--rectangle {
    width: 400px;
    height: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .img--main {
    height: 425px;
    object-fit: contain;
  }
}
@media screen and (min-width: 1440px) {
  .img--main {
    height: 300px;
    object-fit: contain;
  }
}

.line {
  width: 30px;
  height: 5px;
  margin: 10px 0;
  text-align: center;
  border-radius: 20px;
  background-color: #5959fa;
}
.line.hidden {
  display: block;
}
@media screen and (min-width: 768px) {
  .line.hidden {
    display: none;
  }
}

.scroll {
  color: #5959fa;
  text-decoration: none;
  cursor: pointer;
}
.scroll:hover {
  color: #5959fa;
}

.scroll--white {
  color: #fcfcf6;
}
.scroll--white:hover {
  color: #5959fa;
}
@media screen and (min-width: 1024px) {
  .scroll--white {
    color: #000;
  }
}

.margin--zero {
  margin: 0;
}

@media screen and (min-width: 425px) {
  .contact .hidden,
.footer .hidden {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .row {
    flex-direction: row;
  }
  .row--reverse {
    flex-direction: row-reverse;
  }

  .row__text {
    display: inherit;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 1em;
  }
  .row__text--main {
    justify-content: flex-start;
  }

  .row__text--reverse {
    display: inherit;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 16px;
  }

  .company .row {
    flex-direction: column;
    margin-bottom: 3em;
  }
  .company .row__text {
    margin-right: 0;
  }
  .company .row__text--reverse {
    margin-left: 0;
  }
}
@media screen and (min-width: 1024px) {
  .menu,
.close {
    display: none;
  }

  .company .row {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .company .row__text {
    width: 50%;
    padding: 0;
    margin-right: 0;
    justify-content: center;
  }

  .main .row__text {
    margin-right: 2.2em;
  }
  .main .row__text .img--rectangle {
    width: 380px;
    align-self: flex-end;
  }
}
@media screen and (min-width: 1440px) {
  .main .row {
    padding-bottom: 0;
    justify-content: space-between;
  }
  .main .row__text {
    width: 50%;
  }
  .main .row__text .img--rectangle {
    width: 430px;
    height: 100%;
  }

  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .contact .column, .contact .column--inner, .contact .column__box, .contact .column__box__list {
    width: 100%;
  }
  .contact .column--inner {
    padding: 0;
  }
  .contact .hidden {
    display: block;
    align-self: center;
    justify-self: center;
  }

  .footer .column, .footer .column--inner, .footer .column__box, .footer .column__box__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer .column__box__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .hidden {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */